/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart {
    from {
        scale: 1;
    }

    to {
        scale: 1.2;
    }
}

@keyframes sparks {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* initial colors */
.main-body,
.core {
  fill: transparent;
}

.contour {
  fill: var(--contour-color);
}

.sparks {
  opacity: 0;
  fill: var(--accent-color);
}

/* :hover */
.like-icon:hover .contour {transition: fill 0.1s linear;}

.like-icon:hover .core {transition: fill 0.3 linear 0.03s;}

.like-icon:hover .main-body {transition: fill 0.3s linear;}

.like-icon:hover .main-body,
.like-icon:hover .contour,
.like-icon:hover .core {
  fill: var(--contour-color);
}

.is-liked:hover .main-body,
.is-liked:hover .contour,
.is-liked:hover .core {
  fill: var(--accent-color);
}

/* :active */
.like-icon:active .core {transition: fill 0.3 linear;}

.like-icon:active .main-body {transition: fill 0.3s linear 0.05s;}

.like-icon:active .main-body,
.like-icon:active .core {
  fill: var(--accent-color);
}

/* .is-liked */
.is-liked .core {transition: fill 0.3 linear;}

.is-liked .main-body {transition: fill 0.3s linear 0.05s;}

.is-liked .contour {transition: fill 0.3s linear 0.06s;}

.is-liked .main-body,
.is-liked .contour,
.is-liked .core {
  fill: var(--accent-color);
}

.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s 1;
}

.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}