/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

html {
  display: flex;
  justify-content: center;
}

.page {
  inline-size: var(--block-width);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-top: calc(2 * var(--cards-gap, 50px));
  padding-bottom: calc(2 * var(--cards-gap, 50px));
  font-family: var(--font, Inter);
  color: var(--font-color, black);
  font-variation-settings: 'wght' var(--font-light, 410);
  font-size: var(--font-size, 18px);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 18%;
  padding-bottom: 18%;
  background-color: white;
  font-family: var(--accent-font, Press Start2P);
  text-transform: uppercase;
  border: 2px solid currentColor;
  margin-bottom: calc(2 * var(--cards-gap, 50px));
}

.main-heading {
  font-size: clamp(49px, calc(3.5vw + 15px), 65px);
}

/* buttons */
.button {
  display: block;
  position: relative;
  background-color: white;
  font-family: var(--accent-font, Press Start2P);
  font-size: var(--font-size-s, 14px);
  color: white;
  text-align: center;
  border: 2px solid black;
  padding: 2%;
  cursor: pointer;
  box-shadow: 2px solid transparent;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 black;
  transition: box-shadow 0.3s ease;
}

.button::before {
  inline-size: 100%;
  block-size: 100%;
  inset: 0;
  content: '';
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  background-color: black;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  border: none;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid black;
  transition: border 0.3s ease;
}

.button__text,
.floppy-icon {
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

/* main content */
/* TODO: Некорректно указан отступ на мобильных. */
.sub-heading {
  margin-top: 3%;
  font-size: clamp(14px, calc(1vw + 10px), 23px);
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: var(--cards-gap);
}

/* card item */
.card-item {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: white;
}

.card-heading {
  font-variation-settings: 'wght' var(--font-bold);
  font-size: var(--font-size);
  padding: 0.5% 2%;
}

/* card img */
.img-wrapper {
  position: relative;
  block-size: var(--block-width);
}

.img-block {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  block-size: 100%;
}

.card-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: right center;
  aspect-ratio: 1 / 1;
}

.grayscale {filter: grayscale(80%);}

.saturation {filter: saturate(300%);}

.hue-rotation {filter: hue-rotate(30deg);}

.invert {filter: invert(0.7);}

.sepia {filter: sepia(90%);}

.blur {filter: blur(1rem);}

.multi-filter {
  filter: hue-rotate(90deg)
  contrast(60%)
  brightness(120%)
  blur(0.1rem);
}

.img-label {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font);
  right: 25px;
  top: 25px;
  font-size: var(--font-size-s);
  color: transparent;
  mix-blend-mode: hard-light;
  text-shadow: 
    1px 1px 0 var(--watermark-stroke-color),
    -1px -1px 0 var(--watermark-stroke-color),
    1px -1px 0 var(--watermark-stroke-color),
    -1px 1px 0 var(--watermark-stroke-color);
}

@supports ((text-stroke: 1px var(--watermark-stroke-color)) or (-webkit-text-stroke: 1px var(--watermark-stroke-color))) {
  .img-label {
    text-shadow: none;
    text-stroke: 1px var(--watermark-stroke-color);
    -webkit-text-stroke: 1px var(--watermark-stroke-color);
  }
}

/* card description */
.card-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__like-button {
  inline-size: 130px;
  padding: 10px 0;
}

.like-block {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.download-button {
  display: flex;
  align-items: center;
  gap: 8px;
  inline-size: 335px;
  margin: var(--cards-gap) auto 0 auto;
}

/* dialog window */
.dialog-window[open] {
  display: flex;
}

.dialog-window {
  display: none;
  inline-size: 353px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.window-description {
  display: flex;
  gap: 20px;
  align-items: center;
}

.window-text {
  font-family: var(--accent-font);
  font-size: var(--font-size-s);
  line-height: 1.5;
  text-transform: uppercase;
  inline-size: 75%;
}

.button-close {
  inline-size: 100%;
  margin-top: 10%;
  padding: 12px 0;
}

@media (width <= 425px) {
  .download-button {
    display: block;
    inline-size: 306px;
  }

  .download-button .button__text {
    display: block;
    margin-top: 5%;
  }

  .header {
    padding: 32% 0;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog-window .floppy-icon {
    inline-size: 39px;
    block-size: 39px;
  }

  .sub-heading {
    margin-top: 5%;
  }
}